./build/
./dist/
./target/
./out/

nbproject/private/
nbproject/*-private.xml

*.log
*.tmp
*.bak
*.swp
*.class

docker-compose-path.txt
.env

.idea/
.vscode/
*.iml
.settings/
.classpath
.project

.DS_Store

Thumbs.db
desktop.ini